@font-face {
    font-family: SamsungOne-400;
    src: url(/css/font/SamsungOne-400.woff) format('woff');
    src: url(/css/font/SamsungOne-400.eot);
    font-family: SamsungOne-700;
    src: url(/css/font/SamsungOne-700.eot),
         url(/css/font/SamsungOne-700.eot?#iefix) format('embedded-opentype'),
         url(/css/font/SamsungOne-700.eot) format('woff');
    font-family: SamsungSharpSans-Bold;
    src: url(/css/font/SamsungSharpSans-Bold.woff) format('woff');
    src: url(/css/font/SamsungSharpSans-Bold.eot);
    font-family: MalgunR;
    src: url(/css/font/MalgunR.wofff);
    src: url(/css/font/MalgunR.eot);
    font-family: MalgunB;
    src: url(/css/font/MalgunB.woff);
    src: url(/css/font/MalgunB.eot);
}
body{
    width: 1920px;
    height: 100%;
    overflow: hidden;
    background-color: #fafbfd;;
    margin:0;
    float: left;
    scroll-behavior: smooth;
    overflow-y: auto;
}
.left-area {
    position: fixed;
    box-sizing: border-box;
    width: 260px;
    height: 100%;
    overflow: visible;
    background-color: #ffffff;
    border-style: solid;
    border-color: #dedede;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    float: left;
    
  }
.left-area ul {
  list-style:none;
  padding:0px;
}
.left-area a{
  color:black;
  text-decoration:none;
}
.left-area a:visited {
  color:black;
  text-decoration:none;
}
.content-area {
  width: 1660px;
  height: 100%;
  overflow: visible;
}
.design-system {
    width: 97px;
    height: 84px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 300;
    font-style: normal;
    margin-top: 43px;
    margin-left: 47px;
}
.style_guide {
    width: 92px;
    height: 15px;
    overflow: visible;
    font-family: "Inter-Medium", "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.1;
    font-weight: 500;
    margin-top: 64px ;
    margin-left: 47px;
  }
  .style_guide_elements {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: visible;
    margin-top: 25px ;
    margin-left: 65px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: var(--Gray_Dark, #0a1635);
}
.left-area li {
    font-family: inter;
    margin-bottom: 20px;
}
.ui_component {
    width: 160px;
    height: 15px;
    overflow: visible;
    font-family: "Inter-Medium", "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.1;
    font-weight: 500;
    margin-top: 35px ;
    margin-left: 47px;
}
.ui_component_elements {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: visible;
    margin-top: 25px ;
    margin-left: 65px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: var(--Gray_Dark, #0a1635);
}
h1{
    font-family: "SamsungSharpSans-Bold", sans-serif;
    font-size: 36px;
    line-height:48px;
    letter-spacing: -1px;
    margin: 0;
}
h2{
    font-family: "SamsungOne-700", sans-serif;
    font-size: 28px;
    line-height:40px;
    letter-spacing: -0.5px;
    margin: 0;
}
h3{
    font-family: "SamsungOne-700", sans-serif;
    font-size: 24px;
    line-height:34px;
    letter-spacing: -0.5px;
    margin: 0;
}
h4{
    font-family: "SamsungOne-700", sans-serif;
    font-size: 18px;
    line-height:26px;
    margin: 0;
}
h5{
    font-family: "SamsungOne-700", sans-serif;
    font-size: 14px;
    line-height:18px;
    margin: 0;
}
h6{
    font-family: "SamsungOne-700", sans-serif;
    font-size: 12px;
    line-height:16px;
    margin: 0;
}
ul{
  list-style: none;
}
.Tag{
  width : 980px;
  height:  52px;
}
.Title_Tag{
    width: 113px;
    height: 52px;
    overflow: visible;
    font-family: "Inter-Medium", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 1.1;
    font-weight: 500;
    float: left;
}
.Style_guide_Tag {
    width: 92px;
    height: 15px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.1;
    text-align: right;
    margin-top: 19px;
    float: right;
}
.main-title {
    width: 680px;
    height: 38px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 67px;
    display: block;
    clear: both;
    text-align: center;
}
.main-description {
    width: 680px;
    height: 72px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin-top: 22px;
}
.Container {
    width: 980px;
    overflow: visible;
    margin-top: 110px;
    position: absolute;
    left: 50%;
    margin-left: -620px;
    margin-bottom: 150px;
    padding-left: 260px;
    z-index: -1;
}
.Container-main {
    position: absolute;
    text-align: center;
    width: 680px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -470px;
    padding-left : 260px;
    z-index: -1;
}