.background-img {
  position: relative;
  display: block;
  width: 980px;
  height: 1660px;
  background-image: url("/img/buttons@2x.png");
  background-repeat: no-repeat;
  background-size: 980px;
  background-position-x: 0px;
  background-position-y: 0px;
  margin-top: 110px;
}
.button-b {
  position: absolute;
  top: 90px;
  left: 104px;
}
.button-d {
  position: absolute;
  top: 172px;
  left: 104px;
}
.button-s {
  position: absolute;
  top: 254px;
  left: 104px;
}
.radio-d {
  position: absolute;
  top: 614px;
  left: 1px;
}

.B_Btn{
  box-sizing: border-box;
  width: 130px;
  height: 36px;
  padding: 0px 16px;
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid var(--Gray_State, #7c92a9);
}
.B_Btn:hover{
  background-color: #ffffff;
  border: 2px solid var(--Primary_Blue, #1428a0);
}
.B_Btn:active{
  background-color: #1428a0;
  color: #ffffff;
  border: 2px solid var(--Primary_Blue, #1428a0);
}
.B_Btn::after {
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid var(--Gray_State, #7c92a9);
}

.D_Btn{
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  padding: 0px 13px;
  background-color: #ffffff;
  border: 1px solid var(--Gray_State, #7c92a9);
}
.D_Btn:hover{
  background-color: #ffffff;
  border: 2px solid var(--Primary_Blue, #1428a0);
}
.D_Btn:active{
  background-color: #1428a0;
  color: #ffffff;
  border: 2px solid var(--Primary_Blue, #1428a0);
}
.D_Btn::after {
  background-color: #ffffff;
  border: 1px solid var(--Gray_State, #7c92a9);
}

.S_Btn{
  box-sizing: border-box;
  width: 70px;
  height: 26px;
  border-radius: 13px;
  padding: 0px 10px;
  background-color: #ffffff;
  border: 1px solid var(--Gray_State, #7c92a9);
}
.S_Btn:hover{
  background-color: #ffffff;
  border: 2px solid var(--Primary_Blue, #1428a0);
}
.S_Btn:active{
  background-color: #1428a0;
  color: #ffffff;
  border: 2px solid var(--Primary_Blue, #1428a0);
}
.S_Btn::after {
  background-color: #ffffff;
  border: 1px solid var(--Gray_State, #7c92a9);
}

input.D_Radio {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  overflow: visible;
  border-radius: 50%;
  border: 1px solid var(--Primary_Blue, #1428a0);
}

.BasicBtn_StyleGuide{

}
.BasicBtn_StyleGuide_L{

}
.BasicBtn_StyleGuide_R{

}
.ChkBox_Style{

}
.ChkBox_Style_L{

}
.ChkBox_Style_R{

}
.Sort_Btn{

}
.Icon{

}
.Link_Btn{

}
.Link_Btn span{
    width: 62px;
  height: 22px;
  overflow: visible;
  font-family: "맑은 고딕 Bold", serif;
  color: var(--Primary_SubBlue, #1a6fc4);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
}
.Link_Btn a{
  width: 108px;
  height: 22px;
  overflow: visible;
  font-family: "맑은 고딕 Bold", serif;
  color: var(--Primary_SubBlue, #1a6fc4);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  text-decoration: underline;
}
.Link_Btn p{
  width: 298px;
  height: 44px;
  overflow: visible;
  font-family: "맑은 고딕 Regular", serif;
  color: var(--Gray_Dark, #0a1635);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
}
.Function_Btn{

}
.Toggle{

}
.ListMore{
  align-content: center;
}
.ListMoreBox{
  box-sizing: border-box;
  width: 180px;
  height: 36px;
  overflow: visible;
  border-radius: 18px;
  border: 1px solid var(--Gray_State, #7c92a9);
}
.Loader{

}
.Progress{
    
}