
.Primary {
    width: 980px;
    height: 169px;
    overflow: visible;
    margin-top:110px;
}
.Primary-color {
    width: 114px;
    height: 19px;
    overflow: visible;
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 1.1;
    font-weight: 600;
}
.Scondary {
    width: 980px;
    height: 314px;
    overflow: visible;
    margin-top:100px;
}
.Scondary-color {
    width: 140px;
    height: 19px;
    overflow: visible;
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 1.1;
    font-weight: 600;
  }
.Gray {
    width: 980px;
    height: 459px;
    overflow: visible;
    margin-top:100px;
}
.Gray-color {
    width: 89px;
    height: 19px;
    overflow: visible;
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 1.1;
    font-weight: 600;
  }
  .Contents{
    width: 33%;
    height: 100px;
    margin-top : 50px;
    float: left;
  }
  .Round_Color{
    width: 100px;
    height: 100px;
    overflow: visible;
    border-radius: 50%;
    float: left;
  }
  .Contents_Tag{
    width: 115px;
    height: 100px;
    float: left;
    margin-left: 23px;
  }
  .Contents_name {
    width: 115px;
    height: 26px;
    overflow: visible;
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.1;
    font-weight: 600;

    margin-top : 23px;
  }
  .Contents_hexa {
    width: 95px;
    height: 15px;
    overflow: visible;
    font-family: "Inter-Light", "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.1;
    font-weight: 300;
    margin-top : 12px;
  }
