.logo-box {
    display: block;
    width: 980px;
    height: 440px;
    overflow: visible;
    background-color: #ffffff;
    border: 1px solid var(--Gray_Silver, #c9d8e2);
    margin-top: 60px;
    text-align: center;
}
.logo-box-blue {
    display: block;
    width: 980px;
    height: 440px;
    overflow: visible;
    background: var(--Primary_Blue, #1428a0);
    border: 1px solid var(--Gray_Silver, #c9d8e2);
    margin-top: 77px;
    text-align: center;
  }
.logo-box img {
    width: 316px;
    height: 73px;
    margin-top: 175px;
}
.logo-box-blue img {
    width: 316px;
    height: 73px;
    margin-top: 175px;
}
.itrm-logo {
    width: 200px;
    height: 19px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Gray_Dark, #0a1635);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1.1;
    margin-top: 110px;
}